<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
{{ content }}
<div class="row">
  <footer class="large-6 large-offset-3 columns">
    <h2>Contact Me</h2>
    <p>
      Send me an <a href="mailto:nancychn1@gmail.com">email</a> or
      ping me on <a href="https://twitter.com/nancy_nano_">Twitter</a>.
      I’m also on <a href="https://github.com/Nancy-Chauhan">Github</a>
      and <a href="https://www.linkedin.com/in/nancy-chauhan-5a309b15b/">Linkedin</a>.
    </p>
  </footer>
</div>
{% include footer.html %}
</body>
</html>
